In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import glob

In [3]:
def cargar_archivo(dataframe):
    if dataframe.endswith('.csv'):
        data = pd.read_csv(dataframe)
    elif dataframe.endswith('.xlsx'):
        data = pd.read_xlsx(dataframe)
    elif dataframe.endswith('.html'):
        data = pd.read_html(dataframe)
    elif dataframe.endswith('.json'):
        with open(dataframe) as f:
            data = json.load(f)
    else:
        print("Tipo de archivo inválido, favor de corrobar que haya cargado un archivo .csv, .xlsx, .html o .json")  
    return(data)

Prueba para corroborar que sirva nuestra función, se cargará un archivo .csv

In [4]:
cargar_archivo("GINEBRA.csv")

,Unnamed: 0,ID ANUNCIIO,ID SCRAPE,FUENTE INFO,NOMBRE ANFITRION,FECHA INICIO ANFITRION,TIEMPO DE RESPUESTA,TASA DE RESPUESTA,TASA DE ACEPTACION,SUPERANFITRION,...,PUNTAJE CHECKIN,PUNTAJE COMUNICACION,PUNTAJE UBICACION,PUNTAJE VALOR,RESERVA INSTANTANEA,ANUNCIOS ANFITRION,ANUNCIOS HOGAR COMPLETO,ANUNCIOS HABITACION PRIVADA,ANUNCIOS HABITACION COMPARTIDA,REVIEWS POR MES
0,0,42515,20241229042300,city scrape,Noelle,2010-07-30,within a few hours,100%,88%,f,...,4.86,4.84,4.85,4.55,f,1,0,1,0,0.49
1,1,203997,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,...,4.97,4.99,4.96,4.81,t,2,2,0,0,0.60
2,2,276025,20241229042300,city scrape,Gaby,2011-11-25,within an hour,100%,100%,t,...,4.88,4.89,4.77,4.68,f,1,1,0,0,0.78
3,3,338682,20241229042300,city scrape,Mike,2011-08-21,within an hour,100%,100%,t,...,4.90,4.89,4.87,4.70,t,2,2,0,0,0.77
4,4,399388,20241229042300,city scrape,Oscar,2012-03-23,within an hour,100%,89%,t,...,4.95,4.89,4.70,4.70,f,2,0,2,0,0.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,2752,1318859808229991842,20241229042300,city scrape,Alexandre,2024-12-24,NaN,NaN,100%,f,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2753,2753,1319353272672215826,20241229042300,city scrape,Jasmine,2019-06-18,NaN,NaN,50%,f,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
2754,2754,1319753554977771528,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2755,2755,1319753624300180036,20241229042300,city scrape,Jennie,2024-09-05,within an hour,100%,57%,f,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
2756,2756,1320187730227740458,20241229042300,city scrape,Soufiane,2015-07-03,within an hour,100%,NaN,f,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN